<div class="toolbar-actions">
  <button class="icon-button" aria-label="Notifications">
    <img
      src="../../../assets/toolbar-icons/notification-bing.png"
      alt="Notification"
    />
  </button>
  <button class="icon-button" aria-label="Messages">
    <img src="../../../assets/toolbar-icons/message-text.png" alt="Messages" />
  </button>
  <button class="icon-button" aria-label="Gallery">
    <img src="../../../assets/toolbar-icons/gallery.png" alt="Gallery" />
  </button>
  <p>Santosh Pokhrel</p>
  <button class="icon-button" aria-label="Dropdown">
    <img src="../../../assets/toolbar-icons/arrow-down.png" alt="Dropdown" />
  </button>
</div>
